<div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="https://pbs.twimg.com/profile_images/630048327132803072/QrfTUkX2.jpg" />
    <meta itemprop="height" content="192" />
    <meta itemprop="width" content="192" />
</div>
<div itemscope itemprop="author" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Viach Kakovskyi" />
</div>
<div itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="allyouneedisbackend.com" />
    <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="https://pbs.twimg.com/profile_images/630048327132803072/QrfTUkX2.jpg" />
        <meta itemprop="height" content="192" />
        <meta itemprop="width" content="192" />
    </div>
</div>
